<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      type="text/css"
      href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script
      src="https://kit.fontawesome.com/18bdb54fb4.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <title>포트폴리오</title>
  </head>
  <body>
    <div id="wrap">
      <div id="header">
        <div class="header-wrap">
          <nav>
            <ul>
              <li class="scroll_btn" data-target="container">Home</li>
              <li class="scroll_btn" data-target="about_contents">About</li>
              <li class="scroll_btn" data-target="skill_contents">Skill</li>
              <li class="scroll_btn" data-target="portfolio_contents">
                Portfolio
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div id="container" class="scrollSection">
        <div class="inner-container">
          <div class="text-typing">
            <h2 class="text">끊임없이 성장하는</h2>
            <h2 class="text">웹퍼블리셔 김성빈입니다.</h2>
          </div>
          <div class="typing">
            <h2 class="text"></h2>
            <h2 class="text"></h2>
          </div>
        </div>
        <a href="#"><span></span></a>
        <span class="s-text">scroll</span>
      </div>
      <div id="about_contents" class="scrollSection">
        <div class="inner-contents">
          <h2>{ About }</h2>
          <div class="about">
            <img src="/static/images/profile.jpg" class="profile" />
            <section class="info">
              <section>
                <div>
                  <h5>이름</h5>
                  <span>김성빈</span>
                </div>
                <div>
                  <h5>생년월일</h5>
                  <span>1997년 05월 08일</span>
                </div>
                <div>
                  <h5>주소</h5>
                  <span>서울특별시 동대문구 휘경동</span>
                </div>
                <div>
                  <h5>전화번호</h5>
                  <span>010-9908-7594</span>
                </div>
                <div>
                  <h5>이메일</h5>
                  <span>kim968968@naver.com</span>
                </div>
              </section>
              <p>
                HTML과 CSS를 활용하여 콘텐츠를 시각적으로 표현하는 것에 흥미와
                즐거움을 느껴 퍼블리셔라는 직업에 관심을 가지게 되었습니다. 대학
                졸업 후 국비지원 교육을 통해 한 번 더 기초를 다지고 해당 직무에
                대해 깊게 배움으로써 퍼블리셔에 좀 더 가까이 다가가게 된 계기가
                되었습니다. 첫 회사 팀 프로젝트들의 시행착오와 실패를 겪으면서
                마크업과 재사용성이 높은 코드의 중요성을 알게 되었고 좀 더
                유연한 코드를 작성하기 위해 항상 노력하였습니다. 새로운 도전과
                배움을 좋아하고 현재 퍼블리셔를 넘어 프론트엔드 개발자 그리고
                풀스택 개발자가 되는 것이 저의 목표입니다.
              </p>
            </section>
          </div>
          <section class="career">
            <dl>
              <dt>물금고등학교 졸업 <span>( 2013 ~ 2016 )</span></dt>
              <dt>
                경남정보대학교 컴퓨터공학과 졸업 <span>( 2019 ~ 2021 )</span>
              </dt>
              <dt>
                신한양직업전문학교 웹퍼블리싱/UI/UX 과정 수료
                <span>( 2021.02 ~ 2021.06 )</span>
              </dt>
              <dt>
                (주)에듀토셀 ::
                <span style="font-family: ONE-Mobile-Regular; font-weight: 700"
                  >영어교육 및 학습 플랫폼</span
                ><span> ( 2021.08 ~ 2023.02 )</span>
              </dt>
              <dd>- 자사홈페이지 유지보수, 인터렉션 보완</dd>
              <dd>- 새로운 학습 컨텐츠 기획 및 개발, 홈페이지 리뉴얼</dd>
            </dl>
          </section>
        </div>
      </div>
      <div id="skill_contents" class="scrollSection">
        <div class="inner-contents">
          <h2>{ Skill }</h2>
          <div class="skill">
            <section class="skill_container">
              <div>
                <img src="/static/images/html.png" class="icon" />
                <span class="hide_explain"><span>90%</span></span>
              </div>
              <div>
                <img src="/static/images/css.png" class="icon" />
                <span class="hide_explain"><span>90%</span></span>
              </div>
              <div>
                <img src="/static/images/js.png" class="icon" />
                <span class="hide_explain"><span>70%</span></span>
              </div>
              <div>
                <img src="/static/images/jquery.png" class="icon" />
                <span class="hide_explain"><span>70%</span></span>
              </div>
              <div>
                <img src="/static/images/ts.png" class="icon" />
                <span class="hide_explain"><span>40%</span></span>
              </div>
              <div>
                <img src="/static/images/react.png" class="icon r-icon" />
                <span class="hide_explain"><span>40%</span></span>
              </div>
              <div>
                <img src="/static/images/redux.png" class="icon r-icon" />
                <span class="hide_explain"><span>40%</span></span>
              </div>
              <div>
                <img src="/static/images/figma.png" class="icon" />
                <span class="hide_explain"><span>50%</span></span>
              </div>
            </section>
            <button class="skill_status">스킬 역량 보기</button>
          </div>
        </div>
      </div>
      <div id="portfolio_contents" class="scrollSection">
        <div class="inner-contents">
          <h2>{ Portfoilo }</h2>
          <div class="portfoilo">
            <div class="port_contents">
              <div class="item_wrap">
                <div class="port1">
                  <img src="/static/images/tosel.png" />
                  <p class="ex">
                    <span>영어교육 및 맞춤학습 플랫폼</span>
                    퍼블리싱(100%) <br />HTML, CSS, JavaScript<br />
                    <button>
                      <a href="https://lab.tosel.co.kr/">바로가기</a>
                    </button>
                  </p>
                  <div class="filter_balck" target="_blank"></div>
                </div>
              </div>
              <div class="item_wrap">
                <div class="port2">
                  <img src="/static/images/diary.png" />
                  <p class="ex">
                    <span>간단한 다이어리 일기장</span>
                    퍼블리싱(100%)<br />React, Router, Context API<br />
                    <button>
                      <a href="https://kimseongbin-emotion-diary.web.app/"
                        >바로가기</a
                      >
                    </button>
                  </p>
                  <div class="filter_balck" target="_blank"></div>
                </div>
              </div>
              <div class="item_wrap">
                <div class="port3">
                  <img src="/static/images/blog.png" />
                  <p class="ex">
                    <span>React, TypeScript 블로그 정리</span
                    ><button class="l_button">
                      <a href="https://blog.naver.com/kim968968">바로가기</a>
                    </button>
                  </p>
                  <div
                    href="https://blog.naver.com/kim968968"
                    class="filter_balck"
                    target="_blank"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div id="footer"></div> -->
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
